In [16]:
import pandas as pd
import re
import config
import sys

In [17]:
%run parser.py

In [18]:
df = pd.DataFrame(parsedData, columns=['Date', 'Time', 'Author', 'Message'])

In [19]:
df.head()

       Date   Time      Author                          Message
0  18/05/18  18:05  Dani Locci                            Bravo
1  18/05/18  18:05       Berto       1 vs 1 contro ponge daniii
2  18/05/18  18:05       Ponge             No che poi lo umilio
3  18/05/18  18:05       Berto                  HAHAHAHAHAHHAHA
4  18/05/18  18:05  Dani Locci  Poi partita importante ti caghi